<p style="color: green"><%= notice %></p>

<%= render @table_entry %>

<div>
  <%= link_to "Edit this table entry", edit_table_entry_path(@table_entry) %> |
  <%= link_to "Back to table entries", table_entries_path %>

  <%= button_to "Destroy this table entry", @table_entry, method: :delete %>
</div>
